#titreListe{
        font-style: italic;
        background-color: white;
        color: #F64081;
        margin-top: 84px ;
        width: 100%;
        line-height: 50px;
    }

.card-container {
display: flex;
flex-wrap: wrap;
}

.mat-card{
    /* max-width: 400px; */
    /* height: 400px; */
    width: 300px;
    margin: 16px;
}

.card-header{
    font-family: 'MontSerrat', Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #F64081;
    padding: 20px;

}

.mat-card-image {
max-width: 300px;
height: auto;
}

.card-footer{
    font-style: italic;
}

.mat-stroked-button{
    float: right;
}