<div id="titreListe" class="spacerContent">
    <h4>Nos cocktails fruités</h4>
</div>

<div class="card-container"> 
    <mat-card *ngFor="let smoothie of smoothies" class="mat-card">
        <h3 class="card-header">{{ smoothie.title }}</h3>
        
        <!-- <img mat-card-image src="[imgUrl + smoothie-frai.jpg]"> -->
        <img class="mat-card-image" src="{{imgUrl}}{{ smoothie.picture.path }}" alt="{{ smoothie.picture.alt }}">
    
        <p class="card-footer">{{ smoothie.description }}</p>
        <!-- <button mat-raised-button color="accent" routerLink="/details/{{smoothie._id}}">Recette</button> -->
        <button mat-raised-button color="accent" [routerLink]="['/details', smoothie._id]">Recette</button>
        <!-- <button mat-raised-button color="accent" (click)=GetDetail(smoothie._id)>Recette</button> -->
        <button mat-stroked-button color="accent">Ajouter aux favoris</button>

    </mat-card>
    
</div>