
img{
    height:120px;
    padding: 25px;
     cursor: pointer;
}

h4{
    font-style: italic;
    background-color: white;
    color: #F64081;
    margin-top: 64px ;
    width: 100%;
    line-height: 50px;
}

input{
    width: 200px;
}

mat-form-field{
    font-family: 'Montserrat', Verdana, sans-serif;
}

/* .com{
    color: crimson;
} */
